:root {
  --main-font: "Roboto";
  --primary: #1f2937;
  --text-one: #f9faf8;
  --text-two: #e5e7eb;
  --secondary: #3882f6;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: var(--main-font);
  max-width: 1920px;
}

/* Styles for header, logo, links */

header {
  background-color: var(--primary);
  width: 100%;
  z-index: 1;
}

div.logo {
  text-align: center;
  border: 4px solid var(--secondary);
  width: 130px;
  height: auto;
  border-radius: 30px;
  margin-top: 25px;
  margin-left: 300px;
  position: relative;
  left: 35px;
}

a.logo {
  text-decoration: none;
  color: var(--text-one);
  font-size: 30px;
}

ul {
  float: right;
  padding-top: 20px;
  margin-right: 300px;
  position: relative;
  bottom: 50px;
  right: 25px;
}

li {
  list-style: none;
  display: inline;
  padding-right: 40px;
}

a.link {
  text-decoration: none;
  color: var(--text-two);
  font-size: 18px;
  transition: 0.5s;
}

a.link:hover {
  color: var(--secondary);
}

/* Styles for main */

h1 {
  color: var(--text-one);
  font-size: 48px;
  font-weight: 900;
}

p.intro {
  font-size: 18px;
  color: var(--text-two);
  width: 500px;
  padding-bottom: 20px;
  line-height: 1.5;
  padding-top: 20px;
}

button[type="submit"] {
  border: transparent;
  padding: 5px 20px 5px 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 30px;
}

button[type="submit"].btn-first {
  background-color: var(--secondary);
  color: var(--text-one);
}

button[type="submit"].btn-first:hover {
  background-color: var(--text-one);
  color: var(--secondary);
}

img {
  width: 100%;
  display: block;
}

img.hero-image {
  position: relative;
  right: 30px;
  max-width: 550px;
}

section.container {
  background-color: var(--primary);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  padding-bottom: 100px;
}

div.hero {
  width: 600px;
}

h2 {
  text-align: center;
  font-size: 38px;
  margin-top: 40px;
  color: var(--primary);
}

img.cars {
  max-width: 300px;
  border-radius: 20px;
  border: 5px solid var(--secondary);
  cursor: pointer;
}

div.container-two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
  gap: 20px;
}

p.subtext {
  color: var(--primary);
  font-size: 17px;
  text-align: center;
  padding-top: 10px;
}

section.quote {
  background-color: var(--text-two);
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
}

p.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  padding-left: 350px;
  padding-right: 350px;
  padding-top: 100px;
  color: var(--primary);
}

span {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  position: relative;
  left: 450px;
  top: 2px;
}

section.sign-up {
  width: 1200px;
  height: 150px;
  background-color: var(--secondary);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 10px;
  color: var(--text-one);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

div.sign-up {
  margin-top: 40px;
}

h3 {
  font-size: 25px;
}

p.sign-up {
  font-size: 18px;
  color: var(--text-two);
}

button[type="submit"].btn-last {
  background-color: var(--secondary);
  color: var(--text-one);
  border: 2px solid var(--text-one);
}

button[type="submit"].btn-last:hover {
  background-color: var(--text-one);
  color: var(--secondary);
}

footer {
  background-color: var(--primary);
  width: 100%;
  height: 100px;
}
