:root {
  --main-font: "Roboto";
  --primary: #1f2937;
  --text-one: #f9faf8;
  --text-two: #e5e7eb;
  --secondary: #3882f6;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: var(--main-font);
  max-width: 1920px;
}

/* Styles for header, logo, links */

header {
  background-color: var(--primary);
  width: 100%;
  z-index: 1;
}

div.logo {
  text-align: center;
  border: 4px solid var(--secondary);
  width: 100px;
  height: auto;
  border-radius: 30px;
  margin-top: 25px;
  margin-left: 300px;
}

a.logo {
  text-decoration: none;
  color: var(--text-one);
  font-size: 30px;
}

ul {
  float: right;
  padding-top: 20px;
  margin-right: 300px;
  position: relative;
  bottom: 50px;
}

li {
  list-style: none;
  display: inline;
  padding-right: 40px;
}

a.link {
  text-decoration: none;
  color: var(--text-two);
  font-size: 18px;
  transition: 0.5s;
}

a.link:hover {
  color: var(--secondary);
}

/* Styles for main */

h1 {
  color: var(--text-one);
  font-size: 48px;
  font-weight: 900;
}

img {
  width: 100%;
  max-width: 600px;
  display: block;
}

section.container {
  background-color: var(--primary);
  width: 100%;
}

section.quote {
  background-color: var(--text-two);
  width: 100%;
  height: 400px;
}

footer {
  background-color: var(--primary);
  width: 100%;
  height: 100px;
}
